gunicorn==22.0.0
aiobotocore==2.15.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aioitertools==0.12.0
aiosignal==1.3.1
asciitree==0.3.3
async-timeout==4.0.3
attrs==24.2.0
blinker==1.8.2
botocore==1.35.16
certifi==2024.8.30
cftime==1.6.4
click==8.1.7
fasteners==0.19
fastparquet==2024.5.0
Flask==3.0.3
Flask-Cors==5.0.0
frozenlist==1.4.1
fsspec==2024.9.0
h5netcdf==1.3.0
h5py==3.12.1
idna==3.8
importlib_metadata==8.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.5
multidict==6.1.0
netCDF4==1.7.1.post2
# numcodecs==0.13.0
# numpy==2.1.1
packaging==24.1
pandas==2.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
s3fs==2024.9.0
# scipy==1.14.1
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
Werkzeug==3.0.4
wrapt==1.16.0
# xarray==2024.9.0
yarl==1.11.1
# zarr==2.18.3
zipp==3.20.1




# new postgis, flask 

affine==2.4.0
aiobotocore==2.15.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aioitertools==0.12.0
aiosignal==1.3.1
appnope==0.1.4
asciitree==0.3.3
asttokens==2.4.1
attrs==24.2.0
blinker==1.8.2
botocore==1.35.23
certifi==2024.8.30
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
comm==0.2.2
cramjam==2.8.4
dask==2024.9.1
debugpy==1.8.6
decorator==5.1.1
distributed==2024.9.1
executing==2.1.0
fasteners==0.19
fastparquet==2024.5.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.1
fsspec==2024.9.0
GeoAlchemy2==0.15.2
greenlet==3.1.1
idna==3.10
ipykernel==6.29.5
ipython==8.28.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
jupyter_client==8.6.3
jupyter_core==5.7.2
locket==1.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
msgpack==1.1.0
multidict==6.1.0
nest-asyncio==1.6.0
numcodecs==0.13.0
numpy==2.1.2
packaging==24.1
pandas==2.2.3
parso==0.8.4
partd==1.4.2
pexpect==4.9.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psutil==6.0.0
psycopg2==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
rasterio==1.4.1
s3fs==2024.9.0
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.35
stack-data==0.6.3
tblib==3.0.0
toolz==1.0.0
tornado==6.4.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.0.4
wrapt==1.16.0
xarray==2024.9.0
yarl==1.13.1
zarr==2.18.3
zict==3.0.0
